  {% extends 'account/base.html' %}
  {% load static %}
  {% block pagecontent %}
  <div class="d-flex align-items-center" style="min-height: 100vh">
      <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
          <div class="text-center mt-5 mb-1">
              <div class="">
                  <img src="{% static 'images/logo/lrk-logo.png' %}" class="main-site-logo" alt="LearnPlus" />
              </div>
          </div>
          <div class="card">
              <div class="card-header text-center">
                  <h4 class="card-title">Login</h4>
                  <p class="card-subtitle">Access your account</p>
              </div>
              <div class="card-body">
                  <form novalidate method="get" id="login-form" method="POST">
                      <div class="form-group">
                          <label class="form-label" for="email">Your email address:</label>
                          <div class="input-group input-group-merge">
                              <input id="email" type="email" name="email" class="form-control form-control-prepended"
                                  placeholder="Your email address">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">
                                      <span class="far fa-envelope"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="password">Your password:</label>
                          <div class="input-group input-group-merge">
                              <input id="password" type="password" name="password"
                                  class="form-control form-control-prepended" placeholder="Your password">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">
                                      <span class="fas fa-key"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group ">
                          <button type="submit" class="btn btn-primary btn-block">Login</button>
                      </div>
                      <div class="text-center">
                          <a href="#" class="text-black-70" style="text-decoration: underline;">Forgot Password?</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  {% endblock %}

 {% block scriptcustom %}
  <script>
      //main validate
      $("#login-form").validate({
          rules: {
              email: {
                  email: true,
                  required: true,
                  emailfound: true,
              },
              password: "required",
          },
          messages: {
              email: {
                  required: "required",
                  email: "Invalid email format",
                  emailfound: "not found email",
              },
              password: "required",
          },
          submitHandler: function () {
              let url = "{% url 'checklogin' %}";
              var csrftoken = getCookie('csrftoken');
              $.ajax({
                  url: url,
                  type: "POST",
                  data: {
                      'email': $("#email").val(),
                      'pass': $("#password").val(),
                      'csrfmiddlewaretoken': csrftoken
                  },
                  dataType: 'json',
                  success: function (data) {
                      let dashboardurl = "{% url 'home' %}";
                      if(data.status == 'success'){
                           location.href = dashboardurl;
                      }else{
                           swal({
                                title: "Are you sure?",
                                text: "Not found user",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonClass: "btn-danger",
                                confirmButtonText: "Login again",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            });
                      }
                  },
                  async: false
              });
          },
      });

      //check email
      jQuery.validator.addMethod("emailfound", function (email, element) {
          var csrftoken = getCookie('csrftoken');
          let url = "{% url 'checkemail' %}";

          let response = false;
          $.ajax({
              url: url,
              type: "POST",
              data: {
                  'email': email,
                  'csrfmiddlewaretoken': csrftoken
              },
              dataType: 'json',
              success: function (data) {
                  if (data.status == true) {
                      response = true;
                  } else {
                      response = false;
                  }
              },
              async: false
          });

          return response;

      }, "not found email");

      // using jQuery key form
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  </script>
  {% endblock %}