{% load static %}
        <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
                    <div class="mdk-drawer__content ">
                        <div class="sidebar sidebar-left sidebar-dark bg-dark o-hidden" data-perfect-scrollbar>
                            <div class="sidebar-p-y">
                                <!-- Account menu -->
                                <div class="sidebar-heading">จัดผู้ใช้งานระบบ</div>
                                <ul class="sidebar-menu">
                                    <li class="sidebar-menu-item {% if request.resolver_match.url_name in 'profile,addnewuser,users' %}open{% endif %}">
                                        <a class="sidebar-menu-button sidebar-js-collapse {% if request.resolver_match.url_name in 'profile,addnewuser,users' %}show{% endif %}" data-toggle="collapse" href="#account_menu">
                                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person_outline</i>
                                            ข้อมูลผู้ใช้งานระบบ
                                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                        </a>
                                        <ul class="sidebar-submenu sm-indent collapse" id="account_menu">
                                            <li class="sidebar-menu-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                                                <a class="sidebar-menu-button" href="{% url 'profile' %}">
                                                    <span class="sidebar-menu-text">ข้อมูลส่วนตัว</span>
                                                </a>
                                            </li>
                                             <li class="sidebar-menu-item {% if request.resolver_match.url_name == 'users' %}active{% endif %}">
                                                <a class="sidebar-menu-button" href="{% url 'users' %}">
                                                    <span class="sidebar-menu-text">รายการผู้ใช้งาน</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-menu-item {% if request.resolver_match.url_name == 'addnewuser' %}active{% endif %}">
                                                <a class="sidebar-menu-button" href="{% url 'addnewuser' %}">
                                                    <span class="sidebar-menu-text">เพิ่มผู้ใช้งาน</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-menu-item {% if request.resolver_match.url_name in 'project,add_project,project_category' %}open{% endif %}">
                                        <a class="sidebar-menu-button sidebar-js-collapse {% if request.resolver_match.url_name in 'profile,add_project,project_category' %}show{% endif %}" data-toggle="collapse" href="#project_menu">
                                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">subtitles</i>
                                            จัดการโปรเจก
                                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                        </a>
                                        <ul class="sidebar-submenu sm-indent collapse" id="project_menu">
                                            <li class="sidebar-menu-item {% if request.resolver_match.url_name == 'project' %}active{% endif %}">
                                                <a class="sidebar-menu-button" href="{% url 'project' %}">
                                                    <span class="sidebar-menu-text">รายการโปรเจก</span>
                                                </a>
                                            </li>
                                             <li class="sidebar-menu-item {% if request.resolver_match.url_name == 'add_project' %}active{% endif %}">
                                                <a class="sidebar-menu-button" href="{% url 'add_project' %}">
                                                    <span class="sidebar-menu-text">สร้างใหม่</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-menu-item {% if request.resolver_match.url_name == 'project_category' %}active{% endif %}">
                                                <a class="sidebar-menu-button" href="{% url 'project_category' %}">
                                                    <span class="sidebar-menu-text">หมวดหมู่</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>